<div class="row">
  <div class="col-2 fw-bold fs-vlarge fst-italic d-flex justify-content-center"><%= i %></div>
  <div class="col-8 h4"><%= c.title %></div>
	<div class="col-2 d-flex justify-content-end">
	  <a href="/contest/<%= c.id %>" class="text-muted">more</a>  
  </div>
</div>
<div class="row my-3">
	<div class="col-2"></div>
	<div class="col-10"><%= c.description %></div>
</div>
<div class="row mb-5">
	<div class="col-2"></div>
	<div class="col-4"><%= c.starts_at.strftime '%Y/%m/%d %H:%m' %> - <%= c.ends_at.strftime '%Y/%m/%d %H:%m' %></div>
  <div class="col"><%= c.observations.count %> Observations, <%= c.participations.where(status: Participation.statuses[:accepted]).count %> Participants</div>
</div>
  