<div class="row">
  <div class="col-2 fw-bold fs-vlarge fst-italic d-flex justify-content-center"><%= i %></div>
  <div class="col-8">
  	<div class="row">
  		<div class="col h4"><%= c.title %></div>
    </div>
  	<div class="row">
  		<div class="col h6"><%= c.starts_at.strftime '%Y/%m/%d' %> - <%= c.ends_at.strftime '%Y/%m/%d' %></div>
    </div>
  </div>   		
	<div class="col-2 d-flex justify-content-end">
	  <!--a href="/contest/<%= c.id %>" class="text-muted">more</a-->
	  <a href="https://citynaturechallenge.org/" class="text-muted">more</a>
  </div>
</div>
<div class="row my-3">
	<div class="col-2"></div>
	<div class="col-10"><%= c.description.html_safe %></div>
</div>