<div class="row mt-5">
  <div class="col-2">
    <img src="<%= r.logo_image_url ? r.logo_image_url : r.logo_image %>" class="img-fluid" style="width:70px;">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col h4"><a href="/region/<%= r.id %>" class="region-title-link"><%= r.name %></a></div>
    </div>   
  </div>
  <div class="col-2 d-flex justify-content-end">
    <% if show_more_link==true %>
      <a href="/region/<%= r.id %>/contest/<%= observations_object.contest_id %>" class="text-muted d-flex align-middle">contest stats</a>  
    <% end %>  
	</div>
</div>

<%= render partial: 'statistics', locals: { object: observations_object } %>

