  <div class="row">
    <div class="col-2 fw-bold fs-vlarge fst-italic d-flex justify-content-center"><%= i %></div>
    <div class="col-3">
      <img src="<%= r.logo_image %>" class="img-fluid">
    </div>
    <div class="col">
      <div class="row">
      	<div class="col">
      	  <h3><%= r.name %></h3>
      	</div>
      	<div class="col d-flex justify-content-end">
      	  <a href="/region/<%= r.id %>" class="text-muted">more</a>  
		</div>
      </div>
      <div class="row">
      	<p><%= r.description %></p>
      </div>
      <div class="row">
      	<div class="col d-flex justify-content-center"><%= r.observations.count %></div>
      	<div class="col d-flex justify-content-center"><%= r.contests.count %></div>
      	<div class="col d-flex justify-content-center"><%= number_with_delimiter r.population, delimiter: ',' %></div>
      </div>
      <div class="row">
      	<div class="col d-flex justify-content-center">Observations</div>
      	<div class="col d-flex justify-content-center">Contests</div>
      	<div class="col d-flex justify-content-center">Population</div>
      </div>	
    </div>  
  </div>