
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @contest.title %>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-12 col-lg-6 d-flex justify-content-center h6">
    <%= @contest.description %>
  </div>
</div>

<%= render partial: 'statistics', locals: { object: @contest } %>

<% if @contest.regions.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row">
            <div class="col h4 text-center proxima section-header mb-3">Competing Regions</div>
          </div>  
          <div class="row">
            <div class="col mt-5">
              <% @contest.participations.sort { |p0, p1| p1.get_nobservations <=> p0.get_nobservations }.each.with_index(1) do |p,i| %>
                <%= render partial: 'region', locals: { r: p.region, i: i, observations_object: p, show_more_link: true } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_sightings', locals: { observations: @contest.observations.has_image.has_scientific_name.recent.first(33) } %>
