<div class="row m-0 p-0">
  <div class="col d-flex justify-content-center">
    <img src="<%= @region.logo_image ? @region.logo_image : @region.logo_image_url %>" class="img-fluid" style="width:80px;">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @region.name %>
  </div>
</div>

<% if !@region.raw_polygon_json.blank? && @region.raw_polygon_json!='[]' %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row my-3">
        <div class="col" id="region-map" style="width:100%; height:400px;"></div>  
        <script>  
          var _polygon_json = <%= @region.raw_polygon_json.html_safe %>;
          var _observations = <%= JSON.generate(@region.observations.map { |o| { lat: o.lat, lng: o.lng } }).html_safe %>;
        </script>
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-10 my-5 d-flex justify-content-center h6">
    <%= @region.description.html_safe %>
  </div>
</div>

<!--div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="row">
      <div class="col d-flex justify-content-center"><%= @region.observations.count %></div>
      <div class="col d-flex justify-content-center"><%= @region.contests.count %></div>
      <div class="col d-flex justify-content-center"><%= number_with_delimiter @region.population, delimiter: ',' %></div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">Observations</div>
      <div class="col d-flex justify-content-center">Contests</div>
      <div class="col d-flex justify-content-center">Population</div>
    </div>  
  </div>
</div-->    

<% if @region.contests.in_progress.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Contests In Progress</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.in_progress.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first } %>
              <% end %>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if @region.contests.upcoming.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Upcoming Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.upcoming.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if @region.contests.past.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Past Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.past.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_sightings', locals: { observations: @region.observations.first(33) } %>
