
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @region.name %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center section-header h5 text-dark text-center mt-5">
    competing in
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @contest.title %>
  </div>
</div>

<% if !@region.raw_polygon_json.blank? && @region.raw_polygon_json!='[]' %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col" id="region-map" style="width:100%; height:400px;"></div>  
        <script>  
          var _polygon_json = <%= @region.raw_polygon_json.html_safe %>;
          var _observations = <%= JSON.generate(@participation.observations.map { |o| { lat: o.lat, lng: o.lng } }).html_safe %>;
          var _subregions = [];
        </script>
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-10 my-5 h6">
    <% if @region.logo_image_url || @region.logo_image %>
      <img src="<%= @region.logo_image_url ? @region.logo_image_url : @region.logo_image %>" class="float-start me-4 mb-2" style="height:160px;">
    <% end %>  
    <%= @region.description.html_safe %>
  </div>
</div>

<%= render partial: 'statistics', locals: { object: @region.participation.where(contest_id: @contest.id).first } %>

<%= render partial: 'recent_sightings', locals: { observations: @observations, api_parameters: "?contest_id=#{ @contest.id }&region_id=#{ @region.id }" } %>
