<% if !@region.header_image_url.blank? || !@region.header_image.blank? %>
  <div class="row m-0 p-0">
    <div class="col d-flex justify-content-center">
      <img src="<%= @region.header_image_url ? @region.header_image_url : @region.header_image %>" class="img-fluid">
    </div>    
  </div>
<% end %>  

<div class="row justify-content-center mb-5">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @region.name %>
  </div>
</div>

<!--div class="row justify-content-center">
  <div class="col-10 my-5 h6">
    <div class="row justify-content-center">
      <div class="col-3">Bioscore </div>
    </div>  
  </div>
</div-->

<% if !@region.raw_polygon_json.blank? && @region.raw_polygon_json!='[]' || @region.child_regions.count>0 %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row mt-3">
        <div class="input-group input-group-sm me-2">
          <span class="input-group-text">From</span>
          <input class="form-control form-control-sm" type="datetime-local" id="start_filter" value="<%= 1.month.ago.to_datetime.strftime '%Y-%m-%dT%H:%M:%S' %>">
          <span class="input-group-text">To</span>
          <input class="form-control form-control-sm" type="datetime-local" id="end_filter" value="<%= Time.now.to_datetime.strftime '%Y-%m-%dT%H:%M:%S' %>">        
          <select class="form-select form-select-sm" id="species_filter">
            <option value="all" selected>All species</option>
          </select>
          <button class="btn btn-outline-secondary" type="button">Filter</button>
        </div>  
      </div>
      <div class="row my-3">
        <div class="col" id="region-map" style="width:100%; height:600px;"></div>  
        <script>  
          <% if @region.child_regions.count>0 %>
            var _polygon_json = <%= JSON.generate(@region.get_child_region_polygons).html_safe %>;
          <% else %>
            var _polygon_json = <%= @region.raw_polygon_json.html_safe %>;
          <% end %>  
          var _observations_filename = "/observations/region/<%= @region.id %>";
          <% if @region.subregions.count<1000 %>
            var _subregions = <%= JSON.generate(@region.subregions.where.not(radius_km: nil).map { |s| { lat: s.lat, lng: s.lng, radius_metres: (s.radius_km*1000) } }).html_safe %>;
          <% else %>
            var _subregions = [];
          <% end %>    
        </script>        
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-10 my-5 h6">
    <% if @region.logo_image_url || @region.logo_image %>
      <img src="<%= @region.logo_image_url ? @region.logo_image_url : @region.logo_image %>" class="float-start me-4 mb-2" style="height:160px;">
    <% end %>  
    <%= @region.description.html_safe %>
  </div>
</div>

<%= render partial: 'statistics', locals: { object: @region } %>

<% if @region.child_regions.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row mt-5">
        <div class="col h4 text-center proxima section-header">Leaderboard</div> 
      </div>  
      <div class="row mb-5">
        <% @region.child_regions.each do |r| %>
          <%= render partial: 'region_top_page', locals: { r: r } %>
          <%= render partial: 'statistics', locals: { object: r } %>
        <% end %>
      </div>
    </div>
  </div>      
<% end %>

<div class="row justify-content-center">
  <div class="col-5">
    <div class="row mt-5">
      <div class="col mb-3 h4 text-center proxima section-header">Species</div> 
    </div>  
    <div class="row my-5">
      
    </div>
  </div>
  <div class="col-5">
    <div class="row mt-5">
      <div class="col mb-3 h4 text-center proxima section-header">People</div> 
    </div>  
    <div class="row my-5">
      
    </div>
  </div>
</div>


<% if @region.contests.in_progress.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Contests In Progress</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.in_progress.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true, show_stats: true } %>
              <% end %>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_observations', locals: { observations: @observations, api_parameters: "?region_id=#{ @region.id }" } %>

<% if @region.contests.upcoming.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Upcoming Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.upcoming.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true, show_stats: true } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if @region.contests.past.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Past Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.past.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true, show_stats: true } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

