<% if !@region.header_image_url.blank? || !@region.header_image.blank? %>
  <div class="row m-0 p-0">
    <div class="col d-flex justify-content-center">
      <img src="<%= @region.header_image_url ? @region.header_image_url : @region.header_image %>" class="img-fluid">
    </div>    
  </div>
<% end %>  

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center proxima section-header h2 fw-bold text-dark text-center mt-5">
    <%= @region.name %>
  </div>
</div>

<% if !@region.raw_polygon_json.blank? && @region.raw_polygon_json!='[]' %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row my-3">
        <div class="col" id="region-map" style="width:100%; height:400px;"></div>  
        <script>  
          var _polygon_json = <%= @region.raw_polygon_json.html_safe %>;
          var _observations = <%= JSON.generate(@region.observations.map { |o| { lat: o.lat, lng: o.lng } }).html_safe %>;
          <% if @region.subregions.count<100 %>
            var _subregions = <%= JSON.generate(@region.subregions.map { |s| { lat: s.lat, lng: s.lng, radius_metres: (s.radius_km*1000) } }).html_safe %>;
          <% else %>
            var _subregions = [];
          <% end %>    
        </script>        
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-10 my-5 h6">
    <% if @region.logo_image_url || @region.logo_image %>
      <img src="<%= @region.logo_image_url ? @region.logo_image_url : @region.logo_image %>" class="float-start me-4 mb-2" style="height:160px;">
    <% end %>  
    <%= @region.description.html_safe %>
  </div>
</div>

<%= render partial: 'statistics', locals: { object: @region } %>

<% if @region.contests.in_progress.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Contests In Progress</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.in_progress.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true } %>
              <% end %>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_sightings', locals: { observations: @observations, api_parameters: "?region_id=#{ @region.id }" } %>

<% if @region.contests.upcoming.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Upcoming Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.upcoming.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if @region.contests.past.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col mb-3 h4 text-center proxima section-header">Past Contests</div> 
          </div>  
          <div class="row mt-5">
            <div class="col">
              <% @region.contests.past.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: @region.participations.where(contest_id: c.id).first, show_more_link: true } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

