
<div class="row justify-content-center mb-5">
  <div class="col-10">
    <div class="row my-5 justify-content-center">
      <div class="col-10 col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="<%= asset_path 'logo.png' %>">
      </div>      
    </div>
  </div>
</div> 

<% if Contest.in_progress.online.count>0 %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Contests In Progress</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.in_progress.online.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest_top_page', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if Contest.upcoming.online.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Upcoming Contests</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.upcoming.online.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest_top_page', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if Contest.past.online.count>0 %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Past Contests</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.past.online.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest_top_page', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_observations', locals: { observations: @observations, api_parameters: "?" } %>

<% Region.all.recent.each do |r| %>
<div class="row justify-content-center mt-5">
  <div class="col-8">
    <div class="row mb-3">
      <div class="col-9 d-flex align-items-center">
        <a href="<%= r.get_path %>" class="text-muted d-flex fw-bold"><%= r.name %></a>
      </div>
      <div class="col-3">
        <a role="button" class="text-muted d-flex " href="<%= r.get_path %>" target="_blank">View</a>
      </div>
    </div>  
  </div>
</div>  
<% end %>



