<!--div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col" id="map" style="width:100%; height:400px;">
        <script>
          (function() {
            const s = { lat: 35.6804, lng : 139.7690 };
            const map = new google.maps.Map(document.getElementById("map"), { zoom: 5, center: s, controlSize: 20 });
            const marker = new google.maps.Marker({ position: s, map: map });
          })();
        </script>
      </div>  
    </div>
  </div>
</div-->

<div class="row justify-content-center mb-5">
  <div class="col-10">
    <div class="row my-5 justify-content-center">
      <div class="col-8 col-md-6">
        <img  src="https://biosmart-ui.s3.ap-southeast-2.amazonaws.com/logo.png">
      </div>      
    </div>
  </div>
</div> 

<% if Contest.in_progress.count %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Contests In Progress</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.in_progress.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<% if Contest.upcoming.count %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Upcoming Contests</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.upcoming.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center mt-5">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row">
      	  <div class="col h4 text-center proxima section-header mb-3">Competing Regions</div>
      	</div>	
      	<div class="row">
      	  <div class="col mt-5">
    		    <% Region.all.each.with_index(1) do |r,i| %>
    		      <%= render partial: 'region', locals: { r: r, i: i, observations_object: r, show_more_link: false } %>
        		<% end %>
          </div>		
      	</div>
      </div>      
    </div>
  </div>
</div> 

<% if Contest.past.count %>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <div class="row my-3">
        <div class="col">
          <div class="row mb-3">
            <div class="col h4 text-center proxima section-header mb-3">Past Contests</div>
          </div>  
          <div class="row">
            <div class="col">
              <% Contest.past.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
                <%= render partial: 'contest', locals: { c: c, i: i, observations_object: c, show_more_link: false } %>
              <% end %>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'recent_sightings', locals: { observations: Observation.recent.all.first(33) } %>
