<!doctype html>
<html class="h-100">
  <head>
    <title>Biosmart</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--meta property="og:url"           content="<%= @meta_url %>" />
    <meta property="og:type"          content="<%= @meta_type %>" />
    <meta property="og:title"         content="<%= @meta_title %>" />
    <meta property="og:description"   content="<%= @meta_description %>" />
    <meta property="og:image"         content="<%= @meta_image %>" />
    <meta property="og:image:width"   content="<%= @meta_image_width %>" />
    <meta property="og:image:height"  content="<%= @meta_image_height %>" />
    <meta property="fb:app_id"        content="<%= Rails.application.credentials.facebook_app_id %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@biosmart" />
    <meta name="twitter:creator" content="@biosmart" /-->

    <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyMJQSW8bBRxhAMYnQcJstMOlKXCnY0WM&libraries=drawing&libraries=drawing&v=weekly"></script>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
  </head>

  <body class="d-flex flex-column h-100">

    <header class="flex-shrink-0 m-0 p-0 py-4 pb-3">
      <div class="container-fluid m-0 p-0">
        <div class="row justify-content-center p-0 m-0">
          <div class="col-12 col-lg-10 p-0 m-0 logo-header position-relative">   
            <% if @user %>
              <a href="#" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white" data-bs-toggle="modal" data-bs-target="#profile" id="profile_button" role="button">Profile: <%= @user.organization_name %></a>
              <a href="/participants" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white <%= @participations.nil? ? '' : 'text-decoration-underline' %>" role="button">Contest Participation</a>
              <a href="/regions" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white <%= @regions.nil? ? '' : 'text-decoration-underline' %>" role="button">Regions</a>
        
              <% if @user.admin? %>
                <a href="/users" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white <%= @users.nil? ? '' : 'text-decoration-underline' %>" role="button">Users</a>
                <a href="/contests" class="btn float-end p-3 h3 proxima text-uppercase fw-header-link text-white <%= @contests.nil? ? '' : 'text-decoration-underline' %>" role="button">Contest Management</a>
              <% end %>
            <% else %>
              <a href="#" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white" data-bs-toggle="modal" data-bs-target="#login" id="login_button" role="button">Login</a>
              <a href="#" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white" data-bs-toggle="modal" data-bs-target="#signup" id="signup_button" role="button">Signup</a>
            <% end %>
            <a href="https://biosmart.life" class="btn float-end py-3 h3 proxima text-uppercase fw-header-link text-white" role="button">Home</a>            
            <a href="/" class="btn float-start py-2 px-3 fw-home proxima text-uppercase text-white" role="button">biosmart.life | portal</a>
          </div>
        </div>
      </div>  
    </header>   

    <main class="flex-shrink-0 m-0 p-0 mb-5">
      <div class="container-fluid mt-3">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto pt-5 border-0">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">      
          <div class="row sqs-row" id="yui_3_17_2_1_1648603251177_207">
            <div class="col-5 sqs-col-5 span-5" id="yui_3_17_2_1_1648603251177_206">
              <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1557647311110_30556">
                <div class="sqs-block-content" id="yui_3_17_2_1_1648603251177_205">
                  <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1648603251177_204">
                    <figure class="sqs-block-image-figure intrinsic" style="max-width:948px;" id="yui_3_17_2_1_1648603251177_203">
                      <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1648603251177_202">
                        <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:13.713079452514648%; overflow: hidden;" id="yui_3_17_2_1_1648603251177_201">
                          <noscript>
                            <img src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647684552-P6YYV29TW8HR89PJFQN8/UN+Report.png" alt="UN Report.png" />
                          </noscript>
                          <img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647684552-P6YYV29TW8HR89PJFQN8/UN+Report.png" data-image="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647684552-P6YYV29TW8HR89PJFQN8/UN+Report.png" data-image-dimensions="948x130" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5cd7d144e2c4831e18f9c7d1" data-type="image" style="left: -0.0263852%; top: 0%; width: 100.053%; height: 100%; position: absolute;" alt="UN Report.png" data-image-resolution="500w" src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647684552-P6YYV29TW8HR89PJFQN8/UN+Report.png?format=500w">
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 sqs-col-2 span-2" id="yui_3_17_2_1_1648603251177_226">
              <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1632455992739_12254">
                <div class="sqs-block-content" id="yui_3_17_2_1_1648603251177_225">
                  <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1648603251177_224">
                    <figure class="sqs-block-image-figure intrinsic" style="max-width:318px;" id="yui_3_17_2_1_1648603251177_223">
                      <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1648603251177_222">
                        <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:49.6855354309082%; overflow: hidden;" id="yui_3_17_2_1_1648603251177_221">
                          <noscript>
                            <img src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1632456130742-0WFRKWVVGFVWC9867Q56/download-2.png" alt="download-2.png" />
                          </noscript>
                          <img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1632456130742-0WFRKWVVGFVWC9867Q56/download-2.png" data-image="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1632456130742-0WFRKWVVGFVWC9867Q56/download-2.png" data-image-dimensions="318x158" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="614d4dc210e07d6013619b5d" data-type="image" style="left: 0%; top: -0.067731%; width: 100%; height: 100.135%; position: absolute;" alt="download-2.png" data-image-resolution="300w" src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1632456130742-0WFRKWVVGFVWC9867Q56/download-2.png?format=300w">
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 sqs-col-5 span-5" id="yui_3_17_2_1_1648603251177_245">
              <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1557647311110_31868">
                <div class="sqs-block-content" id="yui_3_17_2_1_1648603251177_244">
                  <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1648603251177_243">
                    <figure class="sqs-block-image-figure intrinsic" style="max-width:2000px;" id="yui_3_17_2_1_1648603251177_242">
                      <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1648603251177_241">
                        <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:12.5%; overflow: hidden;" id="yui_3_17_2_1_1648603251177_240">
                          <noscript>
                            <img src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647707745-S0OH7KKLGPFFPRGIVRKK/unnamed-2.jpg" alt="unnamed-2.jpg" />
                          </noscript>
                          <img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647707745-S0OH7KKLGPFFPRGIVRKK/unnamed-2.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647707745-S0OH7KKLGPFFPRGIVRKK/unnamed-2.jpg" data-image-dimensions="2000x250" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5cd7d15a6e9a7f57d7784bd5" data-type="image" style="left: 0%; top: -0.398936%; width: 100%; height: 100.798%; position: absolute;" alt="unnamed-2.jpg" data-image-resolution="500w" src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/1557647707745-S0OH7KKLGPFFPRGIVRKK/unnamed-2.jpg?format=500w">
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-5" style="background: #f7f7f7; font-size: 18px;">
        <div class="col-12 col-md-8">
          <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1639370908696" id="preFooterBlocks">
            <div class="row sqs-row" id="yui_3_17_2_1_1648603251177_267">
              <div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1648603251177_266">
                <div class="row sqs-row" id="yui_3_17_2_1_1648603251177_265">
                  <div class="col-2 sqs-col-2 span-2" id="yui_3_17_2_1_1648603251177_264">
                    <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1639370769876_1890">
                      <div class="sqs-block-content" id="yui_3_17_2_1_1648603251177_263">
                        <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1648603251177_262">
                          <figure class="sqs-block-image-figure intrinsic" style="max-width:180px;" id="yui_3_17_2_1_1648603251177_261">
                            <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1648603251177_260">
                              <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:35%; overflow: hidden;" id="yui_3_17_2_1_1648603251177_259">
                                <noscript>
                                  <img src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/6df5dffd-6878-41d3-a7db-8c0045217e04/Cc-by-nc-nd_icon.svg.png" alt="" />
                                </noscript>
                                <img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/6df5dffd-6878-41d3-a7db-8c0045217e04/Cc-by-nc-nd_icon.svg.png" data-image="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/6df5dffd-6878-41d3-a7db-8c0045217e04/Cc-by-nc-nd_icon.svg.png" data-image-dimensions="180x63" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-image-id="61b6d04880cc37691342843c" data-type="image" style="left: -0.163577%; top: 0%; width: 100.327%; height: 100%; position: absolute;" data-image-resolution="300w" src="https://images.squarespace-cdn.com/content/v1/5cd7958065a707a8fbfb8e3c/6df5dffd-6878-41d3-a7db-8c0045217e04/Cc-by-nc-nd_icon.svg.png?format=300w">
                              </div>
                            </div>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col sqs-col-10 span-10">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1639370769876_2771">
                      <div class="sqs-block-content">
                        <p style="text-align:center;white-space:pre-wrap;line-height: 1.6em;" class="">Unless otherwise stated, all records on this site are licensed under a CC BY-NC-ND license, with the licensing rights belonging to the original provider of the record. If you are uncertain about your rights to use this data, please err on the side of the strictest possible interpretation of rights. If you have any questions, please <a href="https://www.biosmart.life/connect">contact us</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-5 border-0" style="background: #1f1f1f;">
        <div class="col-12 col-md-8 border-0">
          <div class=" border-0">
            <div class="row border-0">
              <div class="col border-0">
                <div class="border-0">
                  <div class="border-0" id="footer-links">
                    <p style="text-align:center;white-space:pre-wrap;">Website copyright BioSMART.LIFE<br><br>
                      <a href="https://biosmart.life/bioscore">BioSCORE Reporting</a> | <a href="https://biosmart.life/cnc">The BioExpertise Engine</a> | <a href="https://www.biosmart.life/apps">Supported Apps</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </footer>

    <div class="modal fade" tabindex="-1" id="login">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">        
            <h4 class="modal-title fw-heavy">Login</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center mt-5 mb-3">
              <div class="col-8">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" required="required" id="email_login">
                </div>
              </div>
            </div>
            <div class="row justify-content-center mb-3">
              <div class="col-8">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" required="required" id="password_login">
                </div>
              </div>    
            </div>
            <div class="row justify-content-center mb-3">
              <div class="col-8 justify-content-center">            
                <div class="form-group">
                  <button class="btn btn-outline-secondary w-100" id="login_action">Login</button>
                </div>
              </div>
            </div>    
            <div class="row justify-content-center mb-3">
              <div class="col-8 justify-content-center">            
                <span class="text-danger validation-ok">Couldn't log in.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn black text-decoration-underline" id="signup_from_login">Sign up</a>
          </div>
        </div>
      </div>
    </div> 

    <%= render partial: 'signup_modal', locals: { title: 'Signup', button_text: 'Sign up', id: 'signup', include_login_link: true } %>

    <div class="modal fade" tabindex="-1" id="signup_success">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">        
            <h4 class="modal-title fw-heavy">Signup successful</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center mt-5 mb-3">
              <div class="col-8 d-flex justify-content-center">You're good to go.</div>  
            </div> 
            <div class="row justify-content-center mt-5 mb-3">
              <div class="col-8 d-flex justify-content-center">Please log in to get started.</div>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'profile_modal', locals: { title: 'Profile', id: 'profile', include_logout_link: true, user: @user } %>

  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
  <% if @user %>
    <script>var _user_id = <%= @user.id %>;</script>
  <% end %>  
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
</html>
